#basemap-tile-view {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    height: 60%;
    
    border-radius: 2px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 1px;
}

.flex-vert-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-header {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    
}

.flex-content-no-bar {
    flex: 9;
    background-color: black;
    width: 300px;
    overflow: hidden;
}

.flex-content {
    display: flex;
    flex-direction: column;
    
    background-color: rgba(231, 91, 91, 0.75);
    overflow: auto;
    scrollbar-width: thin;
}

.basemap-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.basemap-div:first-child {
    margin-top: 0px;
}

.tile-plus-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basemap-image, .basemap-title {
    display: flex;
    margin: auto;
}

.eval-scroller {
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: 'grab';

    #scroll-up-arrow {
        flex: 1;
        margin: auto;
        /* margin-bottom: -20px; */
    }

    .tile-holder-scrollable {
        display: flex;
        flex-direction: column;
        flex: 10;
        overflow-y: auto;
        /* margin-top: 20px;
        margin-bottom: 20px; */
        cursor: 'cell';
    }

    #scroll-down-arrow {
        flex: 1;
        margin: auto;
        /* margin-top: -20px; */
    }
}

button {
    cursor: pointer;
}

#test-tile-container {
    
}
