<div class="fab-vertical-button-bar">
    <button class="fab-button" mat-mini-fab color="primary"
        aria-label="Toggle basemap gallery"
        (click)="onClick('basemap')">
        <mat-icon>map</mat-icon>
    </button>
    <button class="fab-button" mat-mini-fab color="primary"
        aria-label="Toggle search widget"
        (click)="onClick('search')">
        <mat-icon>search</mat-icon>
    </button>
    <button class="fab-button" mat-mini-fab color="primary"
        aria-label="Toggle layers manager"
        (click)="onClick('layers')">
        <mat-icon>layers</mat-icon>
    </button>
    <button class="fab-button" mat-mini-fab color="primary"
        aria-label="Toggle data table"
        (click)="onClick('datagrid')">
        <mat-icon>table_rows</mat-icon>
    </button>
</div>
